/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url('../images/mario-cart.jpg');
}

.race-title {
  margin: 1rem auto;
  color: #2d54a1;
}

main#two-columns {
  margin: 50px 0;
  display: flex;
}

main#two-columns section {
  max-width: 50vw;
}

section#accelerate button {
  height: 300px;
  width: 300px;
  margin: 30px auto;
  border-radius: 180%;
  background-color: #2d54a1;
  border-color: #2d54a1;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
}

#big-numbers {
  font-weight: bolder;
  font-size: 70px;
}

.progress-container {
  margin-top: 2rem;
  border: 1px solid #000;
  width: 500px;
}

.player {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.player-progress {
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
