/* RESULTS PAGE SPECIFIC STYLES */
.main-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------  MOBILE  --------------------- */

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
